@keyframes show {
    to {
        top: 0;
        opacity: 1;
    }
}

/* Geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "Segoe UI", "Open Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;

}

/* Play Game Buttons */

.game {
    opacity: 0;
    visibility: hidden;
}

.game.active, .buttons.active {
    opacity: 1;
    visibility: visible;
}

.play , .play-again{
    opacity: 0;
    visibility: hidden;
    width: 20rem;
}

.play.active, .play-again.active {
    opacity: 1;
    visibility: visible;
    background-color:  rgb(20, 218, 20);
}


.play:hover, .play-again:hover {
    opacity: .8;
}

.buttons {
    opacity: 0;
    visibility: hidden;
    margin-top: 3rem;
    order: 3;
}


button.yes{
    background-color: rgb(20, 218, 20);
}

button.No{
    background-color: rgb(230, 10, 54);
}

/* Card  */

#cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 50vh;
}

@media (max-width: 700px) {
    #cards {
        width: 100vw;
    }
}

.card {
    display: flex;
    order: 2;
    justify-content: center;
    flex-wrap: wrap;
}

.number {
    margin: 10px;
    padding: 10px;
    background: rgb(64, 64, 255);
    border-radius: 4px;
    color: white;

    top: -50px;
    opacity: 0;
}

.number, h1, h2, .buttons {

    animation: show 2s .5s ease-out forwards;

}

.card div:hover {
    opacity: .5;
    cursor: pointer;
}

button {
    padding: 8px 12px;
    color: white;
    border: none;
    background-color:rgb(70, 70, 70);
    cursor: pointer;

}

button:hover {
    opacity: .8;
}

.result {
    padding: 10px;
    background: rgb(43, 43, 234);
    border-radius: 4px;
    color: white;
    margin: auto;
    width: 25%;
}

h1, h2 {
    color: rgb(70, 70, 70);
    opacity: 0;
}

